$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 25%;
$content-wrapper-width: 62%;
$article-max-width: 840px;
$post-margin-left: 28%;

$img: "../img";
$js: "../js";
$font: "../font";
