<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}
    <div class='content-body'>
      <div class='only-pc-view content-left'>
        {% include left.html %}
      </div>
      <div class='content-center'>
        {{ content }}
      </div>
      <div class='only-pc-view content-right'>
        {% include right.html %}
      </div>
    </div>
    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
</body>

</html>